{{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '../static/css/base.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container w-50 mx-auto">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">You have successfully created your listing</h2>
                <h5 class="text-muted">Click the button below to now pay for your listing</h5>
                <hr>
            </div>
        </div>
   <button class="btn btn-danger rounded-0" id="checkout-button" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Pay now</button>
   <br>
   </br>
   <a><em>(You will be redirected to a payment page to complete the transaction.)</em></a>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_4KgVlDgFauT9Sfs8TtAN5Tjd00qMznyVjp");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/listings/create-session", {
        method: "POST",
        body: JSON.stringify({listing_id:{{listing.id}}})
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
</script>
{% endblock %}}